body {
	background-image: url('bg.jpg');
	color: white;
	font-family: calibri;
	background-repeat: no-repeat;
	background-position: center;
	
}


#yullu {
	background-color: rgba(0, 0, 0, 0.70);
}
table, tr, td {
	word-wrap: break-word;
	size: 120%;
	font-size: 100%;
}
table, td {
	border-style: dashed;
}